<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>declareMap</key>
	<array>
		<string>^([-+]\s*\(\w+\s*\**\)\s*.+)$</string>
		<string>^extern\s+NSString\s*\*\s*const\s+(\w+)$</string>
		<string>\@selector\((\w+\:?)\)</string>
		<string>\[self\s+(\w+)\];</string>
		<string>\@property\s*\(nonatomic,\s*(\w+)\)\s*(\w+)\s*\*\s*(\w+)</string>
	</array>
	<key>implementMap</key>
	<array>
		<string></string>
		<string>^NSString\s*\*\s*const\s+%@\s*\=\s*\@\&quot;(.*)\&quot;;$</string>
		<array>
			<string>^(-\s*\(void\)\s*%@)</string>
			<string>^(-\s*\(void\)\s*%@\s*\(\w+\s*\**\)\s*\w+)</string>
		</array>
		<string>- \(\w+\s*\*?\)(%@)\s*\{?</string>
		<string>-\s*\(\w+\s*\*\)\s*%@\s*\{?</string>
	</array>
	<key>implementContent</key>
	<array>
		<string>\n\n%@ {\n\t\n}</string>
		<string>\n\nNSString * const %@ = @&quot;&lt;#value#&gt;&quot;;</string>
		<array>
			<string>\n\n- (void)%@ {\n\t\n}</string>
			<string>\n\n- (void)%@(id)sender {\n\t\n}</string>
		</array>
		<string>\n\n- (void)%@ {\n\t\n}</string>
		<string>\n\n- (%@ *)%@\n{\n\tif (!_%@){\n\n\t}\n\treturn _%@;\n}</string>
	</array>
</dict>
</plist>
